.multicolor {
  background-image: linear-gradient(to left, violet, purple, orange, red);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
